<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>           
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3988276/vacancy6130833">Разработчик Java и Objective-C</a></td> 
     <td class="city">UWDC •Киев•4&nbsp;000 грн</td> 
     <td class="companyName">UWDC •Киев•4&nbsp;000 грн</td> 
     <td class="salary">4&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3821341/vacancy6058281">Senior Software Developer</a></td> 
     <td class="city">Moresise •Киев•21&nbsp;000 грн</td> 
     <td class="companyName">Moresise •Киев•21&nbsp;000 грн</td> 
     <td class="salary">21&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company4153624/vacancy6251556">Junior/Middle Java Developer</a></td> 
     <td class="city">New Age Solutions Corp •Киев•40&nbsp;000 грн</td> 
     <td class="companyName">New Age Solutions Corp •Киев•40&nbsp;000 грн</td> 
     <td class="salary">40&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3703517/vacancy6251493">Web Developer, php, java, css, mysql, drupal</a></td> 
     <td class="city">Law&amp;Trust International •Киев•15&nbsp;000 грн</td> 
     <td class="companyName">Law&amp;Trust International •Киев•15&nbsp;000 грн</td> 
     <td class="salary">15&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company529517/vacancy5022112">Lead Java Software Engineer</a></td> 
     <td class="city">FTN Monitor •Киев•112&nbsp;000 грн</td> 
     <td class="companyName">FTN Monitor •Киев•112&nbsp;000 грн</td> 
     <td class="salary">112&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3575496/vacancy6237905">Senior Java developer</a></td> 
     <td class="city">Kriosoft Ltd •Киев•90&nbsp;000 грн</td> 
     <td class="companyName">Kriosoft Ltd •Киев•90&nbsp;000 грн</td> 
     <td class="salary">90&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3826765/vacancy6140086">XSL-FO guru</a></td> 
     <td class="city">RenderX •Киев•76&nbsp;000 грн</td> 
     <td class="companyName">RenderX •Киев•76&nbsp;000 грн</td> 
     <td class="salary">76&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3826765/vacancy6140085">Java guru</a></td> 
     <td class="city">RenderX •Киев•88&nbsp;000 грн</td> 
     <td class="companyName">RenderX •Киев•88&nbsp;000 грн</td> 
     <td class="salary">88&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company3826765/vacancy6140082">Java guru / XSL-FO guru</a></td> 
     <td class="city">RenderX •Киев•100&nbsp;000 грн</td> 
     <td class="companyName">RenderX •Киев•100&nbsp;000 грн</td> 
     <td class="salary">100&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company1939872/vacancy5551811">Ведущий инженер группы внедрения ПО</a></td> 
     <td class="city">Петер-Сервис Украина, ООО •Киев•20&nbsp;000 грн</td> 
     <td class="companyName">Петер-Сервис Украина, ООО •Киев•20&nbsp;000 грн</td> 
     <td class="salary">20&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua/company643959/vacancy4717639">Android developer</a></td> 
     <td class="city">Zeus Electronics •Киев•20&nbsp;000 грн</td> 
     <td class="companyName">Zeus Electronics •Киев•20&nbsp;000 грн</td> 
     <td class="salary">20&nbsp;000 грн</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>